h1, h2, h3, h4, h5 {
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
}

h3, h4, h5 {
    color: gray;
}

h4, h5 {
    font-style: italic;
    margin-bottom: 1;
}

.selectize-control {
    .selectize-input,
    .selectize-dropdown {
        font-family: 'Segoe UI'
    }
}

--bslib-page-sidebar-title-bg: #237a21;